{% extends 'base.html' %}
{% block content %}

<h1 class="mb-4 fw-bold">Rides</h1>

<div class="row">

    {% for ride in rides %}
    <div class="col-md-4">
        <div class="card shadow p-3 mb-4">

            <h2 class="fw-bold">{{ ride.name }}</h2>

            {% if ride.image %}
            <img src="{{ ride.image }}" class="img-fluid rounded mb-3" 
                 style="max-height:300px; object-fit:cover;">
            {% endif %}

            <p>{{ ride.description }}</p>
            <p class="fw-bold fs-5">Price: ₹{{ ride.price }}</p>

            <a href="{{ url_for('book_ride', ride_id=ride.id) }}" 
               class="btn btn-success btn-lg">
               Book Now
            </a>

        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}
